@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@100&family=Lexend+Deca:wght@300&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    color: white;
    height: 56px;
    font-size: 24px;
    line-height: 53px;
    padding-left: 23px;
    background-color: rgb(79, 38, 117);
}
li{
    list-style-type: none;
}
.right{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    justify-content: center;
    align-items: center;
   
}
.box{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 8em;
    border: 2px solid black;
    cursor: pointer;
  
}
.gameinfo{
    margin-left: 26px;

   
}
.continer{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}
img{
    width: 0;
    transition: width 1s ease-in-out;
}
body{
    font-family: 'Roboto', sans-serif;
}
#reset{
    border: none;
    width: 89px;
    font-size: 24px;
    height: 39px;
    border-radius: 9px;
    cursor: pointer;
    background-image: linear-gradient(45deg, #c42d2d, #c19114bd);
}
.info{
    font-size: 27px;
    padding: 2em;
    font-weight: bolder;
    text-transform: capitalize;

}
.inf{
    margin-top: 2em;
}
@media screen and (max-width:900px) {
    .continer{
        flex-wrap: wrap;
    }
    .right {
        display: grid;
        grid-template-rows: repeat(3,23vw);
        grid-template-columns: repeat(3,23vw);
    }
    h1{
        text-align: center;
    margin-top: 4em;
    font-weight: bold;
    }
    .info{
        padding: 0.5em;
        background-color: rgb(235, 100, 66);
        border-radius: 10px;

    }
    .inf{
        text-align: center;
    }
    .box{
        font-size: 6em;
    }
    #reset{
        width: 7em;
    height: 2.5em;
    }
   

}
@media screen and (max-width:500px) {
    
    img{
    position: relative;
    top: -34em;
    display: flex;
    margin: auto;
    }
}
